@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin:0px;
  padding:0px;
  font-family: 'Open Sans', sans-serif;
}

h1{
  display: flex;
  justify-content: center;
}

.content-config{
  height: 900px;
}


/*PROJECTS/WORKS PAGE CSS --- START ---*/
.main-folder{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-mainbox{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item{
  height: 250px;
  padding-top: 20px;

}
.item a{
  border: 1px solid black;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(52, 52, 241);
  color: white;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 1px black;
}
.item a:hover{
  background-color: rgb(77, 77, 243);
}


/*PROJECTS/WORKS PAGE CSS --- END ---*/


/*PLATON PAGE CSS --- START ---*/



.proj-box-platon{
  display: flex;
  justify-content: center;
  height: 300px;
  text-align: center;
}
.title-plat{
  border: 1px solid black;
  font-weight: 700;
}
/*PLATON PAGE CSS --- END ---*/